// Background color.
$flexbackground: #fff !default;

// Colors.
$flexred: #ffcdd2 !default;
$flexorange: #ffe0b2 !default;
$flexyellow: #fff9c4 !default;
$flexgreen: #c8e6c9 !default;
$flexcyan: #b2ebf2 !default;
$flexlightblue: #b3e5fc !default;
$flexblue: #bbdefb !default;
$flexpurple: #d1c4e9 !default;
$flexpink: #f8bbd0 !default;
$flexbrown: #d7ccc8 !default;