// Background-color.
// Dynamically adjust color depending on background.
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return $gray-800;
  }

  @else {
    @return $white;
  }
}

@function set-link-color($color) {
  @if (lightness($color) > 50) {
    @return darken($primary, 20%);
  }

  @else {
    @return$primary;
  }
}

// Set Background color.
body,
#page-my-index,
#nav-drawer,
#page-header .card {
  background-color: $flexbackground;
  border: 0;
}

#page-header .breadcrumb {
  border: 0;
}

#page-header .card {
  color: set-text-color($flexbackground);
}

#page-header .breadcrumb .breadcrumb-item a,
#page-course-view-topics:not(.editing) .course-content ul.topics li#section-0 a {
  color: set-link-color($flexbackground);
}

// Background-color on smaller screens.
@media screen and (max-width: 576px) {
  #region-main-box {
    background-color: inherit;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: $card-border-width solid $card-border-color;
    border-bottom: $card-border-width solid $card-border-color;
  }

  #page-my-index #region-main-box {
    background-color: $flexbackground;
    border: 0;
  }

  #page-my-index section {
    border-radius: 0;
  }
}