// Gradient.
body,
.pagelayout-login #page {
    background-color: $flexbackground;
    background: linear-gradient(to right, lighten($flexbackground, 10%) 0%, $flexbackground 100%);
  }
  
.navbar.fixed-top {
  height: $navbar-height;
}