// Maximum width on large screens.
@media screen and (min-width: 992px) {

    body #page.drawers .main-inner,
    body .header-maxwidth,
    body .secondary-navigation,
    body #page-wrapper #page #page-content {
        width: 100%;
        max-width: none;
        padding-right: 3rem;
        padding-left: 3rem;
        margin-right: auto;
        margin-left: auto;
    }

    body.limitedwidth #page.drawers .main-inner,
    body.limitedwidth .header-maxwidth,
    body.limitedwidth .secondary-navigation,
    body.limitedwidth #page-wrapper #page #page-content {
        max-width: 1000px; // 1200px
    }
}

@media screen and (min-width: 576px) {
    body #page.drawers .main-inner {
        padding-right: $card-spacer-x;
        padding-left: $card-spacer-x;
    }
}

body #page-header>div {
    padding-right: 15px;
    padding-left: 15px;
}

@media screen and (max-width: 576px) {

    #page.drawers {
        margin-top: calc(#{$navbar-height} /2);
    }

    .activity-information,
    #intro {
        padding-right: 15px;
        padding-left: 15px;
    }

    .editmode-switch-form label {
        display: none;
    }

    .editmode-switch-form .custom-switch {
        margin-top: 2rem;
    }

}