// Additional styles.

// Quote.
blockquote,
.blockquote {
    background-color: $gray-100;
    border-left: 5px solid $primary;
    margin: 1rem 0 1rem 1rem;
    padding: .75rem;
}

blockquote p:last-child,
.blockquote p:last-child {
    margin-bottom: 0;
}