{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.
}}

<footer id="page-footer" class="py-3 bg-dark text-light">
    <div class="container">

        <div id="course-footer">{{{ output.course_footer }}}</div>

        <div class="row">

                <div class="col-md-8">
                    {{{ output.footnote }}}

                    {{{ output.login_info }}}

                    {{{ output.home_link }}}

                    {{# output.page_doc_link }}
                        <p class="helplink">{{{ output.page_doc_link }}}</p>
                    {{/ output.page_doc_link }}

                </div>

                <div class="col-md-4">
                    <div class="brandbox">

                        {{#output.brandorganization_footer}}<h3>{{output.brandorganization_footer}}</h3>{{/output.brandorganization_footer}}
                            <ul class="footercontact">
                                {{#output.brandwebsite_footer}}<li><i class="fa fa-globe"></i>  {{output.brandwebsite_footer}}</li>{{/output.brandwebsite_footer}}
                                {{#output.brandemail_footer}}<li><i class="fa fa-envelope"></i>  {{output.brandemail_footer}}</li>{{/output.brandemail_footer}}
                                {{#output.brandphone_footer}}<li><i class="fa fa-mobile-phone"></i>  {{output.brandphone_footer}}</li>{{/output.brandphone_footer}}
                            </ul>

                        {{{ output.social_icons }}}

                    </div>
                </div>

        </div>
        <nav class="nav navbar-nav d-md-none">
            {{# output.custom_menu_flat }}
                <ul class="list-unstyled pt-3">
                    {{> theme_boost/custom_menu_footer }}
                </ul>
            {{/ output.custom_menu_flat }}
        </nav>
        {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}

    </div>
</footer>

{{! Boost flex floating action button start. }}
{{# output.glossary_addentry_url }}
<a href="{{{ output.glossary_addentry_url }}}" class="btn btn-primary btn-fab icon-no-margin">{{#pix}}t/add, core, {{#str}}addentry, mod_glossary{{/str}}{{/pix}}</a>
{{/ output.glossary_addentry_url }}

{{# output.data_addentry_url }}
<a href="{{{ output.data_addentry_url }}}" class="btn btn-primary btn-fab icon-no-margin">{{#pix}}t/add, core, {{#str}}add, mod_data{{/str}}{{/pix}}</a>
{{/ output.data_addentry_url }}
{{! Boost flex floating action button end. }}

{{! Boost flex bottom navigation start. }}
{{# output.hasbottomnavigation }}
<nav class="navbar navbar-light bg-light navbar-expand fixed-bottom d-lg-none">
<ul class="navbar-nav w-100 justify-content-around">
<li class="nav-item icon-no-margin"><a href="/?redirect=0" class="nav-link">{{#pix}}i/home, core, {{#str}}home, core{{/str}}{{/pix}}</a></li>
<li class="nav-item icon-no-margin"><a href="/my/" class="nav-link">{{#pix}}i/dashboard, core, {{#str}}myhome, core{{/str}}{{/pix}}</a></li>
<li class="nav-item icon-no-margin"><a href="/calendar/view.php?view=month" class="nav-link">{{#pix}}i/calendar, core, {{#str}}calendar, core_calendar{{/str}}{{/pix}}</a></li>
<li class="nav-item icon-no-margin"><a href="/user/files.php" class="nav-link">{{#pix}}a/add_file, core, {{#str}}privatefiles, core{{/str}}{{/pix}}</a></li>
</ul>
</nav>
{{/ output.hasbottomnavigation }}
{{! Boost flex bottom navigation end. }}