// Message app.
.message-app .closewidget {
    display: flex;
    height: $navbar-height;
    align-items: center;
    padding-right: 0 !important;
}

.message-app .closewidget .btn-link {
    padding: $btn-padding-y $btn-padding-x;
    margin-right: 5px;
    margin-left: auto;
    transition: $btn-transition;
}

.message-app .closewidget .btn-link .icon::before {
    content: "\f00d";
}

// Message app.
// Close button.
.message-app .closewidget {
    display: flex;
    height: $navbar-height;
    align-items: center;
    padding-right: 0 !important;
}

.message-app .closewidget .btn-link {
    padding: $btn-padding-y $btn-padding-x;
    margin-right: 5px;
    margin-left: auto;
    transition: $btn-transition;
}

.message-app .closewidget .btn-link .icon::before {
    content: "\f00d";
}

// Message bubble.
.message-app .message.send {
    background-color: lighten($primary, 60%);
}
.message-app .message.send .tail {
    border-bottom-color: lighten($primary, 60%);
}