// Print version.
@media print {

    body,
    .pagelayout-login #page {
        color: $black;
        background: $white;
        background-image: none !important;
    }

    a {
        color: $black;
    }

    .drawer-toggles,
    .breadcrumb,
    .secondary-navigation,
    .activity-information,
    footer,
    #page-mod-glossary-print .displayprinticon,
    .pagelayout-course .container-fluid,
    .pagelayout-incourse .container-fluid,
    .path-course select,
    .pagelayout-incourse select,
    .pagelayout-course label,
    .pagelayout-incourse label,
    .path-course input,
    .pagelayout-incourse input,
    .path-course button,
    .pagelayout-incourse button,
    .path-course .btn,
    .pagelayout-incourse .btn {
        display: none !important;
    }

    #page.drawers {
        margin: 0;
    }

}