// Footer.
#page-wrapper #page-footer {
    background: $primary !important;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
}

.fa-external-link {
    margin-left: .25rem;
}