// Navbar.

// Add icons to the menu.
.primary-navigation .navigation a::before,
.drawer-primary a.list-group-item::before,
body:not(.path-admin) .secondary-navigation .navigation a::before,
#user-action-menu a::before {
    font-family: "FontAwesome";
    font-weight: 900;
    margin-right: .5rem;
}

.primary-navigation .navigation a::before {
    color: rgba($black, .6);
}

// Home.
.primary-navigation .navigation a[href*="redirect"]::before,
.drawer-primary a.list-group-item[href*="redirect"]::before {
    content: "\f015";
}

// Dashboard.
.primary-navigation .navigation a[href*="my"]::before,
.drawer-primary a.list-group-item[href*="my"]::before {
    content: "\f0e4";
}

// My courses and course.
.primary-navigation .navigation a[href*="courses"]::before,
.drawer-primary a.list-group-item[href*="courses"]::before,
body:not(.path-admin) .secondary-navigation .navigation a[href*="course/view"]::before {
    content: "\f19d";
}

// Site administration and course settings.
.primary-navigation .navigation a[href*="admin"]::before,
.drawer-primary a.list-group-item[href*="admin"]::before,
body:not(.path-admin) .secondary-navigation .navigation a[href*="course/edit"]::before,
body:not(.path-admin) .secondary-navigation .navigation a[href*="course/modedit"]::before {
    content: "\f013";
}

// Participants.
body:not(.path-admin) .secondary-navigation .navigation a[href*="user"]::before {
    content: "\f0c0";
}

// Reports.
body:not(.path-admin) .secondary-navigation .navigation a[href*="report"]::before {
    content: "\f200 ";
}

// User menu.
#user-action-menu a[href*="profile"]::before {
    content: "\f007";
}

#user-action-menu a[href*="grade"]::before,
body:not(.path-admin) .secondary-navigation .navigation a[href*="grade"]::before {
    content: "\f0ce";
}

#user-action-menu a[href*="calendar"]::before {
    content: "\f073";
}

#user-action-menu a[href*="files"]::before {
    content: "\f016";
}

#user-action-menu a[href*="preferences"]::before {
    content: "\f0ad";
}

#user-action-menu a[href*="switchrole"]::before {
    content: "\f21b";
}

#user-action-menu a[href*="logout"]::before {
    content: "\f08b";
}