// Course format topics.
#page-course-view-topics:not(.editing) .course-content ul.topics li.section.section-summary {
    position: relative;
    margin-bottom: 1.5rem;
    transition: all .2s ease-out;
}

// Make the whole section card clickable when one section per page is displayed.
#page-course-view-topics:not(.editing) .course-content ul.topics li.section.section-summary a::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
}

#page-course-view-topics:not(.editing) .course-content ul.topics li.section.section-summary a:focus::after {
    box-shadow: $btn-focus-box-shadow;
    border-radius: $border-radius;
}

#page-course-view-topics:not(.editing) .course-content ul.topics li.section.section-summary .sectionname a:hover {
    text-decoration: none;
}

#page-course-view-topics:not(.editing) .course-content ul.topics li.section.section-summary .sectionname a:focus {
    color: darken($primary, 10%);
    background: none;
    box-shadow: none;
}

#page-course-view-topics:not(.editing) .course-content ul.topics li.section.section-summary:not(#section-0):hover {
    transform: scale(1.01, 1.01);
    transition: all .2s ease-in;
    box-shadow: $box-shadow-sm;
}

#page-course-view-topics:not(.editing) .course-section:last-child {
    border-bottom: $card-border-width solid $card-border-color;
}

// Activity count.
#page-course-view-topics:not(.editing) .course-content .section-summary .section-summary-activities .activity-count {
    font-size: $badge-font-size;
}

// Progress.
#page-course-view-topics:not(.editing) .course-content .section-summary .section-summary-activities:last-child .activity-count:last-child {
    color: $white;
    background: $primary;
    padding: $badge-padding-y $badge-padding-x;
    padding-right: $badge-pill-padding-x;
    padding-left: $badge-pill-padding-x;
    // font-size: 80%;
    font-weight: $badge-font-weight;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: $badge-pill-border-radius;
}

#page-course-view-topics:not(.editing) .course-content .section-summary .section-summary-activities:last-child .activity-count:empty {
    visibility: hidden;
}

// Section summary.
#page-course-view-topics:not(.editing) .course-content .section-summary .summarytext {
    margin: 0;
}