// Block drawer that opens on click.
#block-drawer {
    position: fixed;
    width: $blocks-column-width;
    top: $fixed-header-y;
    right: -$blocks-column-width;
    height: calc(100% - #{$navbar-height});
    padding: $drawer-padding-x $drawer-padding-y;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: $zindex-dropdown - 1;
    background-color: $drawer-bg;
    -webkit-transition: right 0.5s ease, left 0.5s ease;
    -moz-transition: right 0.5s ease, left 0.5s ease;
    transition: right 0.5s ease, left 0.5s ease;
}

#block-drawer.show {
    right: 0;
    // -webkit-transition: none;
    // -moz-transition: none;
    // transition: none;
}

.block-toggler {
    position: fixed;
    top: 9.75rem;
    right: 0;
    padding: .5rem .75rem;
    color: $primary;
    background-color: rgba($white, .75);
    box-shadow: $box-shadow-sm;
    border: $card-border-width solid $card-border-color;
    border-right: 0;
    border-radius: $border-radius 0 0 $border-radius;
    z-index: 1;
    -webkit-transition: right 0.5s ease, left 0.5s ease;
    -moz-transition: right 0.5s ease, left 0.5s ease;
    transition: right 0.5s ease, left 0.5s ease;
}

#block-drawer:not(.show) .block-toggler.close-toggler {
    right: -4rem;
}

#block-drawer.show .block-toggler.close-toggler {
    right: $blocks-column-width;
    padding-right: .5rem;
    color: inherit;
    background-color: $drawer-bg;
    border: 0;
    box-shadow: none;
    // -webkit-transition: none;
    // -moz-transition: none;
    // transition: none;
}

#block-drawer .block.card {
    border: $card-border-width solid $card-border-color;
}

@media screen and (max-width: 576px) {
    #block-drawer {
        width: $blocks-column-width - 40;
    }

    #block-drawer.show .block-toggler.close-toggler {
        right: $blocks-column-width - 40;
    }
}