// Additional rounded corners.

// Rounded corners in Atto editor.
div.editor_atto_toolbar,
.editor_atto_content_wrap,
// Rounded corners in Workshop.
.path-mod-workshop .userplan,
// Rounded corners in Forum.
.forumpost,
// Rounded corners in Quiz.
.que .formulation,
// Rounded corners in Wiki.
.wiki-toc,
// Rounded corners in Search.
#searchinput,
// Rounded corners in Content bank.
div.pb-3.border,
// Rounded corners for Popup in Glossary.
.moodle-dialogue-base .moodle-dialogue-wrap,
// Rounded corners in Student folder.
#page-mod-publication-view div#id_allfiles,
// Rounded corners for Gapfill in Quiz.
.que.gapfill span.draggable.answers,
.que.gapfill input[type="text"] {
    border-radius: $border-radius;
}

// Partly remove rounded corners in Dashboard.
.card .dashboard-card-img {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

// Remove rounded corners in Message App.
.message-app .btn-link {
    border-radius: 0;
}