// Edit button, course menu and top-button with fixed position.
.btn-edit {
    position: fixed;
    top: 6.75rem;
    right: 0;
    padding: .5rem 1rem;
    box-shadow: $box-shadow-sm;
    border-radius: $border-radius 0 0 $border-radius;
    z-index: 1;
}

.context-header-settings-menu .action-menu {
    position: fixed;
    top: 3.5rem;
    right: 0;
    padding: .45rem;
    background-color: rgba($white, .75);
    border: $card-border-width solid $card-border-color;
    border-right: 0;
    border-radius: $border-radius 0 0 $border-radius;
    box-shadow: $box-shadow-sm;
    z-index: 2;
}

#goto-top-link .btn {
    color: $primary;
    background-color: rgba($white, .75);
    border: $card-border-width solid $card-border-color;
    border-radius: $border-radius 0 0 $border-radius;
    box-shadow: $box-shadow-sm;
}